<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <a href="https://hsr.hoyoverse.com/pt-pt/" target="_blank">
      <app-big-card
        Id="1"
        photoCover="https://64.media.tumblr.com/47a28633a6b1a5be4dee762eeba993c2/ea215525f05066d4-2d/s2048x3072/6125114489df85644feecebf132c3e3fa09e7050.png"
        cardTitle="Nova Atualização de Star Rail (3.2)"
        cardDescription="Nova personagem (Castorice e Anaxa), Nova história, Novas missões, Novos eventos"
      >
      </app-big-card>
    </a>
  </div>

  <div class="articles__others">
    <a href="https://www.youtube.com/watch?v=0FPvfC8g6-Q" target="_blank">
      <app-small-card
        Id="2"
        cardTitle="Novo Trailer de personagem de Star Rail - Castorice"
        photoCover="https://fastcdn.hoyoverse.com/content-v2/hkrpg/155395/dd39973f4b1619c508ec34061bd4c0ae_5518402028306373976.jpg"
      >
      </app-small-card>
    </a>

    <a href="https://www.youtube.com/watch?v=DlEeCK3yp54" target="_blank">
      <app-small-card
        Id="3"
        cardTitle="Trailer do Épico Dourado - A Vida Desperta da Noite"
        photoCover="https://fastcdn.hoyoverse.com/content-v2/hkrpg/155369/28a6d4734a5b20552912c585eb621bfd_3962383829974535012.jpg"
      >
      </app-small-card>
    </a>

    <a href="https://www.youtube.com/watch?v=VzVNWLaLOM4" target="_blank">
      <app-small-card
        Id="4"
        cardTitle="Conhecendo mais sobre a nova versão de Star Rail 3.2"
        photoCover="https://fastcdn.hoyoverse.com/content-v2/hkrpg/155350/ea3694776fc4aa8f97e6de7f35c46a85_4041990029095834982.png"
      >
      </app-small-card>
    </a>
  </div>
</div>
