<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/dev-giancarlo-salomone/" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/Gian-UC" target="_blank" rel="noopener noreferrer">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://discord.com/invite/honkaistarrail" target="_blank" rel="noopener noreferrer">Discord</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/@HonkaiStarRail" target="_blank" rel="noopener noreferrer">Youtube</a></li>
  </ul>
</div>
